# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# DD Poker - Source Code
# Copyright (c) 2003-2024 Doug Donohoe
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# For the full License text, please see the LICENSE.txt file
# in the root directory of this project.
#
# The "DD Poker" and "Donohoe Digital" names and logos, as well as any images,
# graphics, text, and documentation found in this repository (including but not
# limited to written documentation, website content, and marketing materials)
# are licensed under the Creative Commons Attribution-NonCommercial-NoDerivatives
# 4.0 International License (CC BY-NC-ND 4.0). You may not use these assets
# without explicit written permission for any uses not covered by this License.
# For the full License text, please see the LICENSE-CREATIVE-COMMONS.txt file
# in the root directory of this project.
#
# For inquiries regarding commercial licensing of this source code or
# the use of names, logos, images, text, or other assets, please contact
# doug [at] donohoe [dot] info.
# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

#
# DD Poker Helpful environment vars and aliases
#
DDHOME=${1-$(git rev-parse --show-toplevel)}

# Expected vars
export WORK=$(dirname "${DDHOME}") # parent dir
CODE="${DDHOME}/code"

# Tools
export PATH=${DDHOME}/tools/bin:${PATH}
export PATH=${DDHOME}/tools/db:${PATH}

# maven shortcuts
alias mvn-install-notests='(cd $CODE;mvn install -DskipTests=true)'
alias mvn-install='(cd $CODE;mvn install)'
alias mvn-clean='(cd $CODE;mvn clean)'
alias mvn-package-notests='(cd $CODE;mvn package -DskipTests=true)'
alias mvn-package='(cd $CODE;mvn package)'
alias mvn-test='(cd $CODE;mvn test -Dskip.unit.tests=false)'
alias mvn-tree='mvn dependency:tree -q -Dscope=runtime -Ddependency.classpath.outputFile=/tmp/t && cat /tmp/t && rm -f /tmp/t'

# act shortcut
alias act-ddpoker='act --platform ubuntu-latest=ddpoker-act-runner --pull=false \
  --container-options "-v $HOME/.m2:/home/runner/.m2" \
  --job test pull_request'

# attempt to auto-set JAVA_HOME to 11 if on mac
if [[ "${OSTYPE:0:6}" == "darwin" ]]; then
  JAVA11_HOME=$(/usr/libexec/java_home -F -v 11 2>/dev/null || echo "/java11/not/found")
  if [[ -d "${JAVA11_HOME}" && "${JAVA11_HOME}" != "${JAVA_HOME}" ]]; then
    export JAVA_HOME="${JAVA11_HOME}"
    export PATH="${JAVA11_HOME}/bin:${PATH}"
    echo "JAVA_HOME changed, version now '$(java -version 2>&1 | head -1)'"
  fi
fi

# See if java 11 is installed
if ! test -x "$(command -v java)"; then
  if [[ "${OSTYPE:0:6}" == "darwin" ]]; then
    echo "WARNING: Java 11 is not installed. Have your run 'brew install temurin@11'?"
  else
    echo "WARNING: Java 11 is not installed."
  fi
else
  # Java is installed, check version is 11
  if ! java -version 2>&1 | head -1 | grep -q "\"11\."; then
    echo "WARNING: Java version is not 11 (which DD Poker requires).  Version is:"
    java -version
  fi
fi

# See if maven is installed
if ! test -x "$(command -v mvn)"; then
  if [[ "${OSTYPE:0:6}" == "darwin" ]]; then
    echo "WARNING: Maven is not installed.  Have you run 'brew install maven'?"
  else
    echo "WARNING: Maven is not installed."
  fi
fi
