<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  DD Poker - Source Code
  Copyright (c) 2003-2026 Doug Donohoe
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  For the full License text, please see the LICENSE.txt file
  in the root directory of this project.
  
  The "DD Poker" and "Donohoe Digital" names and logos, as well as any images, 
  graphics, text, and documentation found in this repository (including but not
  limited to written documentation, website content, and marketing materials) 
  are licensed under the Creative Commons Attribution-NonCommercial-NoDerivatives 
  4.0 International License (CC BY-NC-ND 4.0). You may not use these assets 
  without explicit written permission for any uses not covered by this License.
  For the full License text, please see the LICENSE-CREATIVE-COMMONS.txt file
  in the root directory of this project.
  
  For inquiries regarding commercial licensing of this source code or 
  the use of names, logos, images, text, or other assets, please contact 
  doug [at] donohoe [dot] info.
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>wicket</display-name>

  <!--
        There are three means to configure Wickets configuration mode and they are
        tested in the order given.
        1) A system property: -Dwicket.configuration
        2) servlet specific <init-param>
        3) context specific <context-param>
        The value might be either "development" (reloading when templates change)
        or "deployment". If no configuration is found, "development" is the default.
  -->

  <!-- Logging initialization (happens before anything else) -->
  <listener>
    <listener-class>com.donohoedigital.wicket.LoggingContextListener</listener-class>
  </listener>

  <!-- Logging parameters -->
  <context-param>
    <param-name>appName</param-name>
    <param-value>poker</param-value>
  </context-param>

  <!-- Spring initialization -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Spring parameters -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/app-context-pokerwicket.xml</param-value>
  </context-param>

  <filter>
    <filter-name>wicket.wicket</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <init-param>
      <!-- fetch WicketApplication from Spring -->
      <param-name>applicationFactoryClassName</param-name>
      <param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>wicket.wicket</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/notfound</location>
  </error-page>

</web-app>
