<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>DD Poker 3</string>
	<key>CFBundleIdentifier</key>
	<string>com.donohoedigital.poker</string>
	<key>CFBundleVersion</key>
	<string>DD Poker 3</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>DDWA</string>
	<key>CFBundleGetInfoString</key>
	<string>DD Poker 3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>macicon.icns</string>
	
	<key>CFBundleDocumentTypes</key>      
        <array>
			<dict>     
                <key>CFBundleTypeName</key> 
                <string>DD Poker Save File</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>ddpokersave</string>   
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>macicon.icns</string>
            </dict>
			<dict>     
                <key>CFBundleTypeName</key> 
                <string>DD Poker Online Game URL</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>ddpokerjoin</string>   
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>macicon.icns</string>
            </dict>
		</array>

	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$JAVAROOT</string>
		<key>VMOptions</key>
		<string>-Xms32m -Xmx68m</string>
		<key>MainClass</key>
		<string>com.donohoedigital.games.poker.PokerMain</string>
		<key>ClassPath</key>
		<string>REPLACE_WITH_CLASSPATH</string>
		<key>JVMVersion</key>
		<string>1.5*</string>
		<key>Properties</key>
		<dict>
			<key>swing.defaultlaf</key>
			<string>javax.swing.plaf.metal.MetalLookAndFeel</string>
			<key>apple.awt.showGrowBox</key>
			<string>false</string>
			<key>apple.awt.fullscreenhidecursor</key>
			<string>false</string>
			<key>com.donohoedigital.classpath</key>
			<string>$JAVAROOT/</string>
		</dict>
	</dict>
</dict>
</plist>
